<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <div class="row">
               <div class="col-sm-12">
                 <div class="col-sm-12">
      <h1>SEE MORE ABOUT OUR DETAILS</h1>
      <h4> Buying four items in our shop, you will get 15% discount for the next items and you will earn some point upto 1000 point then you will allow to redeem to cash money. </h4></div>
      </div>
      </div>
      </div>
      
      <div class="container">
       <div class="row">
               
                 <div class="col-sm-3">
       <h2> Fashion</h2>
      <p>All new fashion clothes are availlable specially Brand new clothes from <br> American which are Original</p>
      </div>
      
      <div class="col-sm-3">    
      <h2> Electronic</h2>
      <p> Here in our shop you will get the latest electronic device at affortable price</p></div>
      
      
               
       <div class="col-sm-3">    
           <h2> Jewellery</h2>
      <p> 10% of jewellery are made up of Silver product</p> </div>
      
      
      <div class="col-sm-3">    
      <h2> Services over</h2>
      <p>Our company will make sure you receive your shopping item on time and charges on transport  </p> </div>
      </div>
      </div>
      
      
      
      
 
      
    <!-- Add Bootstrap JS and jQuery links (optional) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
